[tool.black]
line-length = 127
target-version = ['py310']
include = '\.pyi?$'

[tool.isort]
profile = "black"
line_length = 127

[tool.flake8]
max-line-length = 127
extend-ignore = "E203"
max-complexity = 10
